In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import bs4
import time

In [12]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'}

#optional specifc run
selecttokens = ['CITY', 'LAZIO', 'ATM', 'ASR', 'AFC', 'ACM', 'INTER', 'BAR', 'JUV', 'PSG']

matchdays = []
tickers = []
token_df = pd.read_csv("/Users/aronnyberg/code/quanty2/fanTokens.csv")
token_df = token_df.set_index('ticker').loc[selecttokens].reset_index()
token_dict = token_df[['ticker', 'source_ticker', 'source_link']].set_index('ticker').dropna().to_dict()

In [14]:
for season in ['2023']:
    #links_list = [i.replace('id=2022','id={}'.format(season)) for i in token_dict['source_link'].values()]
    for ticker in token_dict['source_link'].keys():
        try:
            link = token_dict['source_link'][ticker].replace('id=2022', 'id={}'.format(season))
            name = token_dict['source_ticker'][ticker]
            print(link)
            r = requests.get(link, headers=headers)  # Using the custom headers we defined above
            soup = bs4.BeautifulSoup(r.text, 'lxml')
            for table in soup.find_all(class_='responsive-table'):
                for tr in table.find_all('tr'):
                    #_, matchday, date, time, venue, ranking, opponent, systemofplay, attendance, result = [td for td in tr.stripped_strings]
                    day = [i for i in tr.stripped_strings][1]
                    matchdays.append(day)
                    tickers.append(ticker)
        except:
            print(f"{ticker} failed")

https://www.transfermarkt.co.uk/manchester-city/spielplan/verein/281/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/ss-lazio/spielplan/verein/398/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/atletico-de-madrid/spielplan/verein/13/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/as-roma/spielplan/verein/12/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/arsenal-fc/spielplan/verein/11/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/ac-milan/spielplan/verein/5/plus/0?saison_id=2023
https://www.transfermarkt.co.uk/inter-milan/spielplan/verein/46/plus/0?saison_id=2023
INTER failed
https://www.transfermarkt.co.uk/fc-barcelona/spielplan/verein/131/plus/0?saison_id=2023

In [15]:
df = pd.DataFrame({'matchdays':matchdays, 'tickers':tickers})

In [16]:
df[df['matchdays'] != 'Date'].to_csv('matchdays_2023season.csv')

In [17]:
df

            matchdays tickers
0                   H    CITY
1                   A    CITY
2                   A    CITY
3                Date    CITY
4    Tue Sep 19, 2023    CITY
..                ...     ...
646   Sat May 4, 2024     BAR
647  Sat May 11, 2024     BAR
648  Tue May 14, 2024     BAR
649  Sat May 18, 2024     BAR
650  Sat May 25, 2024     BAR

[651 rows x 2 columns]

In [6]:
token_df

,ticker,Name,Sport,source_ticker,source_link
0,BAR,Barcelona,Football,fc-barcelona,https://www.transfermarkt.co.uk/fc-barcelona/s...
1,JUV,Juventus,Football,juventus-turin,NaN
2,CITY,Manchester City,Football,manchester-city,https://www.transfermarkt.co.uk/manchester-cit...
3,LAZIO,Lazio,Football,ss-lazio,https://www.transfermarkt.co.uk/ss-lazio/spiel...
4,PORTO,Porto,Football,fc-porto,NaN
...,...,...,...,...,...
78,QUINS,Harlequins,Rugby,NaN,NaN
79,TIGERS,Leicester,Rugby,NaN,NaN
80,SARRIES,Saracens,Rugby,NaN,NaN
81,SFP,Stade Francais Paris,Rugby,NaN,NaN
82,SHARKS,Sharks,Rugby,NaN,NaN

In [7]:
token_df.set_index('ticker').loc[selecttokens].reset_index()

,ticker,Name,Sport,source_ticker,source_link
0,CITY,Manchester City,Football,manchester-city,https://www.transfermarkt.co.uk/manchester-cit...
1,LAZIO,Lazio,Football,ss-lazio,https://www.transfermarkt.co.uk/ss-lazio/spiel...
2,ATM,Athletico Madrid,Football,atletico-madrid,https://www.transfermarkt.co.uk/atletico-de-ma...
3,ASR,Roma,Football,as-rom,https://www.transfermarkt.co.uk/as-roma/spielp...
4,AFC,Arsenal,Football,fc-arsenal,https://www.transfermarkt.co.uk/arsenal-fc/spi...
5,ACM,AC Milan,Football,ac-mailand,https://www.transfermarkt.co.uk/ac-milan/spiel...
6,INTER,Inter Milan,Football,inter-mailand,https://www.transfermarkt.co.uk/inter-milan/sp...
7,BAR,Barcelona,Football,fc-barcelona,https://www.transfermarkt.co.uk/fc-barcelona/s...
8,JUV,Juventus,Football,juventus-turin,NaN
9,PSG,PSG,Football,fc-paris-saint-germain,NaN